/* Selector por etiqueta */
h1 {
  color: darkred;
}

/* Selector por clase */
.destacado {
  background-color: yellow;
  font-weight: bold;
}

/* Selector por ID */
#especial {
  font-size: 24px;
  color: navy;
}
